:root {
    --baltic-blue: #22577aff;
    --tropical-teal: #38a3a5ff;
    --emerald: #57cc99ff;
    --light-green: #80ed99ff;
    --tea-green: #c7f9ccff;
}

body {
    background-color: #fff;
}

/* dator, 1024px eller större */
.container {
    background-color: var(--baltic-blue);
    width: 400px;
    margin: auto;
    color: var(--tea-green);
    padding: 30px;
    border-radius: 20px;
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "quiz"
        "sources"
        "footer";
    text-align: center;
    gap: 20px;
}

header {
    grid-area: header;
    background-color: var(--emerald);
    border-radius: 10px;
    padding: 5px;
}

header nav {
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "firstRow"
    "secondRow"; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav a {
    text-decoration: none;
    background-color: var(--tropical-teal);
    color: var(--light-green);
    padding: 10px;
    width: 50%;
    margin: 0px 5px 10px 5px;
    border-radius: 20px;
    box-shadow: 3px 3px 5px black;
}

header nav a.aktiv {
    box-shadow: none;
}

header nav a:hover {
    box-shadow: none;
}

aside.quiz {
    grid-area: quiz;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--emerald);
    border-radius: 20px;
    justify-content: space-between;
    padding: 20px;
}

aside.quiz h1 {}

aside.quiz p.question {}

aside.quiz button {
    width: 75%;
    margin-bottom: 10px;
}

main {
    grid-area: main;
    display: flex;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    background-color: var(--emerald);
    border-radius: 20px;
    padding: 20px;
}

main .images {
    margin: auto;
    flex-direction: column;
}

main .images img {
    width: 100%;
    border: 5px var(--baltic-blue) solid;
    border-radius: 10px;
}

main .content {
    flex-direction: row;
}

main .content h1 {}

main .content p {
    text-align: left;
}

aside.sources {
    grid-area: sources;
    background-color: var(--emerald);
    border-radius: 20px;
}

aside.sources h1 {}

aside.sources a {}

footer {
    grid-area: footer;
    background-color: var(--emerald);
    border-radius: 20px;
}

footer p {}




/* surfplatta, från och med 768px till 1024px*/
@media (min-width: 768px) {
    .container {
        width: 650px;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-areas:
            "header header"
            "quiz main"
            "sources sources"
            "footer footer";
    }

    header nav {
        display: flex;
        flex-direction: row;
    }
}

/* dator, 1024px eller mer*/
@media (min-width: 1024px) {
    .container {
        width: 900px;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas:
            "header header header"
            "quiz main sources"
            "footer footer footer";
    }
}