/* färgpaletten som används i hemsidan */
:root {
    --baltic-blue: #22577aff;
    --tropical-teal: #38a3a5ff;
    --emerald: #57cc99ff;
    --light-green: #80ed99ff;
    --tea-green: #c7f9ccff;
}

/* hemsidans utseende */
body {
    /* bakrundsfärgen för hemsidan */
    background-color: #fff;
}

/* mobiler upp till 768px */
/* kontainerns utseende */
.container {
    /* bestämmer sidans färg */
    background-color: var(--baltic-blue);
    color: var(--tea-green);
    /* bestämmer sidans bred */
    width: 400px;
    /* centrerar hemsidan */
    margin: auto;
    /* skapar läsutrymme */
    padding: 3em;
    /* rundar hörn */
    border-radius: 1em;
    /* bestämmer sidans upplägg */
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "quiz"
        "sources"
        "footer";
    /* centrerar innehåll */
    text-align: center;
    /* skapar utrymme mellan objekt i hemsidan */
    gap: 2em;
}

/* sidhuvudets utseende */
header {
    /* bestämmer position i upplägget */
    grid-area: header;
    /* bestämmer bakrundsfärg */
    background-color: var(--emerald);
    /* rundar hörn */
    border-radius: 0.5em;
    /* skapar läsutrymme */
    padding: 1em;
}

/* navigationsfältets utseende */
header nav {
    /* staplar länkarna på varandra */
    display: flex;
    flex-direction: column;
    /* centrerar länkar */
    align-items: center;
}

/* länkarnas utseende */
header nav a {
    /* tar bort default dekoration */
    text-decoration: none;
    /* färger */
    background-color: var(--tropical-teal);
    color: var(--light-green);
    /* skapar läsutrymme */
    padding: 1em;
    /* begränsar bredd */
    width: 50%;
    /* skapar utrymme mellan knappar */
    margin: 0em 0.5em 1em 0.5em;
    /* rundar hörn */
    border-radius: 1em;
    /* skapar 3d effekt */
    box-shadow: 0.3em 0.3em 0.5em black;
}

/* den aktiva sidans knapps utseende */
header nav a.aktiv {
    /* tar bort 3d effekten */
    box-shadow: none;
}

/* utseende hos knappar med pekare över sig */
header nav a:hover {
    /* tar bort 3d effekten */
    box-shadow: none;
}

/* quixets utseende */
aside.quiz {
    /* bestämmer position i upplägget */
    grid-area: quiz;
    /* staplar knapparna på varandra */
    display: flex;
    flex-direction: column;
    /* centrerar innehållet */
    align-items: center;
    /* färger */
    background-color: var(--emerald);
    /* rundade hörn */
    border-radius: 1em;
    /*  */
    justify-content: space-between;
    /* läsutrymme */
    padding: 2em;
}

/* knapparnas utseende */
aside.quiz button {
    /* bestämmer bredd */
    width: 75%;
    /* skapar utrymme mellan knappar */
    margin-bottom: 1em;
}

/* innehållets utseende */
main {
    /* placerar den i mitten av upplägget */
    grid-area: main;
    /* omorganiserar innehåll */
    display: flex;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2em;
    /* färg */
    background-color: var(--emerald);
    /* rundar hörn */
    border-radius: 1em;
    /* skapar läsutrymme */
    padding: 2em;
}

/* bildkontainers utseende */
main .images {
    /* centrerar den */
    margin: auto;
    /* staplar bilderna på varann */
    flex-direction: column;
}

/* bildernas utseende */
main .images img {
    /* gör att bilderna tar så mycket plats som finns */
    width: 100%;
    /* skapar en ram runt bilderna */
    border: 0.5em var(--baltic-blue) solid;
    /* rundar hörnen */
    border-radius: 0.5em;
}

/* innehållskontainerns utseende */
main .content {
    /* rader upp innehållen brevid varann */
    flex-direction: row;
}

/* brödtextens utseende */
main .content p {
    /* gör så att varje rad börjar så långt vänster som möjligt */
    text-align: left;
}

/* källornas utseende */
aside.sources {
    /* placerar objektet i upplägget */
    grid-area: sources;
    /* färg */
    background-color: var(--emerald);
    /* rundar hörn */
    border-radius: 1em;
}

/* källlänkarnas utseende */
aside.sources a {
    /* tar bort default dekoration */
    text-decoration: none;
    /* färg */
    color: var(--baltic-blue);
    /* skapar mellanrum mellan länkarna */
    margin-bottom: 10px;
}

/* sidfotens utseende */
footer {
    /* placerar den längst ner i upplägget */
    grid-area: footer;
    /* färg */
    background-color: var(--emerald);
    /* rundar hörn */
    border-radius: 1em;
}




/* surfplatta, från och med 768px till 1024px*/
@media (min-width: 768px) {
    /* sidans utseende */
    .container {
        /* bestämmer bred */
        width: 650px;
        /* bestämmer upplägg */
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-areas:
            "header header"
            "quiz main"
            "sources sources"
            "footer footer";
    }

    /* navigationsfältets utseende */
    header nav {
        /* radar upp de bredvid varann */
        display: flex;
        flex-direction: row;
    }
}

/* dator, 1024px eller mer*/
@media (min-width: 1024px) {
    /* sidans utseende */
    .container {
        /* bestämmer sidans bred */
        width: 900px;
        /* bestämmer sidans upplägg */
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas:
            "header header header"
            "quiz main sources"
            "footer footer footer";
    }
}